
<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>

  <!-- Navbar -->
{{>navbar}}
  <!-- Navbar -->

  <!--  main body-->
 <div class="container-fluid main_header">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
             <div class="row align-middle">
                 <!--LEFT BODY-->
                 <div class="col-md-6 col-12 main_header_left about_left">
                     <img class="img img-fluid img-responsive impad img-rounded" src="https://scontent.fdel29-1.fna.fbcdn.net/v/t39.30808-6/245952966_2108706979285117_9204128124182792811_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=YHuYfIGzJM8AX9-fB8m&_nc_ht=scontent.fdel29-1.fna&oh=00_AT9_waJ5pQP3_l1EAUE9ARDR4fsf2PcCjTLdZyFV5R_diw&oe=622E411D" class=" w-100" alt="Wild Landscape"/>
                          
                 </div>
                   <!--RIGHT BODY-->
                 <div class="col-md-6 col-12 main_header_right rounded head_left">
                      <h3>Welcome to My profile</h3>
                     <h1>I am a  <span class = "text-primary">MERN </span>stack developer and<span class = "text-primary"> Machine Learning</span> Enthusiat</h1>
                     <a href="https://mrdynamic-soni.github.io/portfolio.github.io/"><button class = "rounded-pill bg-success text-white btn">About Me</button></a>
                   

             </div>

         </div>

     </div>

 </div>
<!-- footer code-->
{{>footer}}
</body>
</html>