


<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>

  <!-- Navbar -->
{{>navbar}}
  <!-- Navbar -->

  <!--  main body-->
 <div class="container main_header">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
             <div class="row align-middle">
                 <!--LEFT BODY-->
                 <div class="col-md-6 col-12 main_header_left about_left">
                     <img class="img img-fluid img-responsive impad img-rounded" src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=740" class=" w-100" alt="Wild Landscape"/>
                          
                 </div>
                   <!--RIGHT BODY-->
                 <div class="col-md-6 col-12 main_header_right rounded head_left">
                     <h1>Contact me on <span class = "text-primary">+91 7234869244</span>or mail me at<span class = "text-primary"> ssoni5930@gmail.com</span> </h1>
                       <a href="/"><button class = "rounded-pill bg-success text-white btn"> Go Back </button></a>
                 </div>

         </div>

     </div>

 </div>
<!-- footer code-->
{{>footer}}
</body>
</html>