  <footer class="bg-light text-center text-white  pt-6 fixed footer">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://www.facebook.com/saurabh.soni.3998"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://twitter.com/mr_dynamic_arts"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://www.google.com/"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://www.instagram.com/mr._dynamic_photoartist"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://www.linkedin.com/in/saurabh-soni-48a567166/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1 rounded-circle link_btn"
          href="https://github.com/Mrdynamic-soni"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-dark" style="background-color: rgba(0, 0, 0, 0.2);">
      © Copied by Soni from youtube/thapatechnical
    </div>
    <!-- Copyright -->
  </footer>