<nav class="navbar navbar-expand-lg main_menu ">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <!-- <i class="fas fa-bars"></i>
         -->
         <span class="navbar-toggler-icon"></span>

      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
          <img
            src="https://www.pngall.com/wp-content/uploads/11/Weather-No-Background.png"
            height="35"
            alt="Logo"
            loading="lazy"/>
            
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weather">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
        
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="d-flex align-items-center ml-auto"
            href="https://www.linkedin.com/in/saurabh-soni-48a567166/"
            id="Avatar"
            role="button"
          >
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D03AQGAby-Aply7oA/profile-displayphoto-shrink_400_400/0/1642770206919?e=1652313600&v=beta&t=KEl6FyXFMCj9zszSJGhMl7rLVCRFOuXPh3qW-5lZOms"
              class="rounded-circle"
              height="30"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>