:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size:100%;
    position: relative;
    min-height: 100%;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 60px;
}
.row{
    margin:0;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    color : #fff;
    background-color: var(--main-bg);
    padding: 4rem 0;
}

.main_header_right{
    padding: 20px 10px 0px 20px;
   
}
.aboout_left{ padding: 10px 0px 10px 0px;}

.main_header{
    margin: 0px;
    overflow: hidden;
}
.head_left{
    padding: 20px;
    position: relative;
    top: 220px;
    text-transform: capitalize;
}

.img{
    border-radius : 5% 5% ;
}

.main_header_left .btn{
     border: none;
     padding: 0.5rem 1.5rem;
     font-size: 1.4rem;
     border-radius: 2rem;
     box-shadow: 0 8px 6px -6px #000;
}

.main_header_left .btn:hover{
    box-shadow: 0 8px 6px -6px var(--main-bg);
}
.link_btn{
    box-shadow: 0 8px 6px -6px #000;
}

/* .navbar-fixed-bottom{
    position: fixed;
    bottom: 0px;
} */

.tempinformation{
    width: 20rem;
    margin: auto;
    min-height: 10rem;
    background-color: #1e272e;
    border-radius: 1rem;
    padding: 20px 0px 0px 20px;
}
.top-layer{
    width: 100%;
    height: 20%;
    background-color: #1e272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    
}
.top-layer p{
    color: aliceblue;
    font-weight: 300;
    padding: 1rem;
    font-size: 2rem;
    
}

.top-layer #city_name{
    padding: 1rem 0;
    color: aquamarine;
    font-weight: 300;
    font-size: 2rem auto 3rem;
}
.temp_city{
    width: 60%;
    position: relative;
    margin: 3rem auto 1rem;
}

.temp_city input[type="text"]{
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    background: #1e272e;
    color: aqua;
    font-size: 1rem;
    border-radius: 2rem;
}

.temp_city input[type="submit"]{
    position: absolute;
    top:5px;
    right: 5px;
    bottom:5px;
    background: #2cd65f;
    padding: 0 3rem;
    border-radius: 3rem;
    color: #fff;
    font-size: 1rem;
}
.main_layer{
     width: 100%;
     height: 80%;
     display: flex;
     flex-direction: column;
     padding: 2rem;
}

.main_layer .middle_layer_data p{
    font-size: 5rem;
    font-weight: 300
}
sup{
    font-size: 1rem;
    margin-top: -1rem;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  
}